.container-fluid
  .row-fluid
    我的市商余额
    = current_user.maker_btc_balance

  .row-fluid
    = form_for [:dashboard, current_user.makers.new(:in_or_out => "in")], :role => "form", :class => "form" do |f|
      = f.hidden_field :in_or_out
      .control-group
        %label 入市数量
        = f.text_field :decimal_amount, :class => "form-control"
      = f.submit "入市", :class => "btn btn-primary"

    = form_for [:dashboard, current_user.makers.new(:in_or_out => "out")], :role => "form", :class => "form" do |f|
      = f.hidden_field :in_or_out
      .control-group
        %label 出市
        = f.text_field :decimal_amount, :class => "form-control"
      = f.submit "出市", :class => "btn btn-primary"



  .row-fluid
    %table.table.table-stripped.table-condensed
      %thead
        %th 入市/出市
        %th 数量
        %th 时间

      %tbody
        - @maker_records.each do |maker_record|
          %tr
            %td= maker_record.in_or_out_in_word
            %td= maker_record.decimal_amount
            %td= maker_record.created_at.to_s(:btc_cn_normal)

    = paginate @maker_records

  .row-fluid
    %table.table.table-stripped.table-condensed
      %thead
        %th 编号
        %th 开盘时间
        %th 收益
        %th 平台提成

      %tbody
        - @maker_opens.each do |maker_open|
          %tr
            %td= maker_open.open_at_code
            %td= maker_open.created_at
            %td= maker_open.net_income_decimal
            %td= maker_open.platform_deduct_decimal
            %td= maker_open.platform_deduct_rate

    = paginate @maker_opens, :param_name => :open_page




