.container-fluid
  .row-fluid{"ng-controller" => "btcchartController"}
    .operation_panel.col-md-10
      .chart_panel_wrapper
        .bid_basic_info
          .col-md-4
            .bid_basic_info_header_label 资产：
            .bid_basic_info_header_content
              %select
                %option{"value" =>  "BTC/RMB"} BTC/RMB
          .col-md-4
            .bid_basic_info_header_label 到期：
            .bid_basic_info_header_content
              %select{"ng-model" => "selected_opening", "ng-options" => "open as format_opening(open) for open in open_times", :id => "current_opening_select"}
              #opening_at_selected_dom
          .col-md-4
            .bid_basic_info_header_label 金额：
            .bid_basic_info_header_content
              %input.input_field{"ng-model" => "investment", "ng-change" => "investmentChange()"}
          .clearfix
        .chart_panel.col-md-10
          .timespan_switcher
            %span.active{"data-timespan" => 30 * 60, :ng_click => "change_timespan(30*60)"} 30分
            %span{"data-timespan" => 60 * 60, :ng_click => "change_timespan(60*60)"} 1小时
            %span{"data-timespan" => 60 * 60 * 2, :ng_click => "change_timespan(60*60*2)"} 2小时
            %span{"data-timespan" => 60 * 60 * 4, :ng_click => "change_timespan(60*60*4)"} 4小时
            %span{"data-timespan" => 60 * 60 * 6, :ng_click => "change_timespan(60*60*6)"} 6小时
            %span{"data-timespan" => 60 * 60 * 12, :ng_click => "change_timespan(60*60*12)"} 12小时
          %btc_chart_directive{"val" => "data"}
          .progress-bar
            %span.yes-percentage 40%
            %span.yes-progress.pull-left &nbsp;
            %span.no-progress.pull-right &nbsp;
            %span.no-percentage 60%
        .chart_info_right_panel_wrapper.col-md-2.text-right.operation_right_info
          %ul.list-group
            %li.list-group-item
              .pull-left
                = fa_icon("money 3x")
              %span.notion
                潜在收益
              .strong {{roi}}
            %li.list-group-item
              .pull-left
                = fa_icon("bar-chart 3x")
              %span.notion
                订单收益比
              .strong
                {{(roi_rate) * 100}}%
            %li.list-group-item
              .pull-left
                = fa_icon("clock-o 3x")
              %span.notion
                剩余时间
              .strong {{remain_time}}

          %p
            %button.btn.btn-success{"data-toggle" => "modal", "data-target" => "#myModal", "ng-click" => "changeDirection('up');"}
              看涨
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              %i.glyphicon.glyphicon-arrow-up
          %p
            %button.btn.btn-default#current_price_dom{"style" => "background-color: #a81915"}
              = fa_icon(:rbm)
              {{current_price.toString().split(".")[0]}}
              \.
              %span
                {{current_price.toString().split(".")[1]}}
          %p
            %button.btn.btn-danger{"data-toggle" => "modal", "data-target" => "#myModal", "ng-click" => "changeDirection('down');"}
              看跌
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              %i.glyphicon.glyphicon-arrow-down

        .clearfix
      .table_wrapper
        #bids_tab_bar_header
          .table_tab#bids_new_created_handle.tab_active
            本平仓合约
          .table_tab#bids_open_handle
            过期合约
        #bids_tab_content
          #bids_new_created
            = render :partial => "dashboard/bids/created_list", :locals => { :bids => current_user.bids.new_created }
          #bids_open
            = render :partial => "dashboard/bids/open_list", :locals => { :bids => current_user.bids.open }


    .modal.fade#myModal{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" =>  "modal"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only 关
            %h4.modal-title#myModalLabel
              {{direction == "up" ? "看涨" : "看跌"}}
          .modal-body
            %table.table.table-bordered
              %tr
                %td.label_high
                  到期时间
                %td
                  {{format_opening(selected_opening)}}
                %td.label_high
                  投资
                %td
                  {{investment}}

              %tr
                %td.label_high
                  资产
                %td
                  CNY/BTC
                %td.label_high
                  潜在收益
                %td
                  {{roi}}

              %tr
                %td.label_high
                  价格
                %td
                  %span#bid_order_price
                    {{current_price}}
                    = fa_icon(:arrow_down)
                %td.label_high
                  剩余时间
                %td
                  {{remain_time}}

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"} 取消交易
            %button.btn.btn-primary#submit_bid_button{"ng-click" => "make_transaction()"} 确定交易
  .col-md-2
    = render :partial => "dashboard/base/right_side_notice"

:javascript
  $(document).ready(function(){ $("#investment").focus()});
  function reload_tab_content(status){
    $.getJSON("/dashboard/bids.json?status=new_created", {}, function(response){
      var ratio = response.buy_win_rate[$("#opening_at_selected_dom").data('open_code')];
      var ratio = (ratio || 0);
      $(".yes-percentage").text("" + Math.floor((ratio * 100))+ "%");
      $(".no-percentage").text("" + Math.floor((1 - ratio) * 100) + "%")
      $(".yes-progress").animate({"width": "" + Math.floor(100 * ratio) + "%"});
      $(".no-progress").animate({"width": "" + Math.floor(100 * (1 - ratio)) + "%"})


      $("#bids_new_created").html(response.content);
      current_price = $("#current_price_dom").data('price');
      $("#bids_new_created tr td.current_price_td").each(function(){ $(this).text(current_price) ;});
      $("#bids_new_created tr td.order_price_td").each(function(){
        if(current_price){
          if(parseFloat($(this).text()) > parseFloat(current_price)){
            $(this).find("span").css("color", "red").html("<i class='fa fa-arrow-down'></i>");
          }else{
            $(this).find("span").css("color", "green").html("<i class='fa fa-arrow-down fa-rotate-180'></i>");
          } }
        });

    });

  }

  $(document).ready(function(){
    reload_tab_content();
    setInterval(reload_tab_content, 2 * 1000);
  });

  $(document).ready(function(){
    $("#bids_open").hide();
    $("#bids_new_created_handle").click(function(){
      $("#bids_open_handle").removeClass("tab_active");
      $(this).addClass("tab_active");
      $("#bids_open").fadeOut('fast')
      $("#bids_new_created").fadeIn('fast')
    });

    $("#bids_open_handle").click(function(){
      $("#bids_new_created_handle").removeClass("tab_active");
      $(this).addClass("tab_active");
      $("#bids_new_created").fadeOut('fast')
      $("#bids_open").fadeIn('fast')
    });
  });
