.container-fluid
  .row-fluid{"ng-controller" => "btcchartController"}
    .operation_panel.col-md-10
      .chart_panel_wrapper
        .bid_basic_info
          .col-md-4
            .bid_basic_info_header_label 资产：
            .bid_basic_info_header_content
              %select
                %option{"value" =>  "BTC/RMB"} BTC/RMB
          .col-md-4
            .bid_basic_info_header_label 到期：
            .bid_basic_info_header_content
              %select{"ng-model" => "selected_opening", "ng-options" => "open as format_opening(open) for open in open_times"}
          .col-md-4
            .bid_basic_info_header_label 金额：
            .bid_basic_info_header_content
              %input.input_field{"ng-model" => "investment", "ng-change" => "investmentChange()"}
          .clearfix
        .chart_panel.col-md-10
          .timespan_switcher
            %span.active{"data-timespan" => 30 * 60, :ng_click => "change_timespan(30*60)"} 30分
            %span{"data-timespan" => 60 * 60, :ng_click => "change_timespan(60*60)"} 1小时
            %span{"data-timespan" => 60 * 60 * 2, :ng_click => "change_timespan(60*60*2)"} 2小时
            %span{"data-timespan" => 60 * 60 * 4, :ng_click => "change_timespan(60*60*4)"} 4小时
            %span{"data-timespan" => 60 * 60 * 6, :ng_click => "change_timespan(60*60*6)"} 6小时
            %span{"data-timespan" => 60 * 60 * 12, :ng_click => "change_timespan(60*60*12)"} 12小时
          %btc_chart_directive{"val" => "data"}
          .progress-bar
            %span.yes-percentage 40%
            %span.label.yes-progress.pull-left &nbsp;
            %span.label.no-progress.pull-right &nbsp;
            %span.no-percentage 60%
        .chart_info_right_panel_wrapper.col-md-2.text-right.operation_right_info
          %ul.list-group
            %li.list-group-item
              .pull-left
                = fa_icon("money 3x")
              %span.notion
                潜在收益
              .strong {{roi}}
            %li.list-group-item
              .pull-left
                = fa_icon("bar-chart 3x")
              %span.notion
                订单收益比
              .strong
                {{(1+roi_rate) * 100}}%
            %li.list-group-item
              .pull-left
                = fa_icon("clock-o 3x")
              %span.notion
                剩余时间
              .strong {{remain_time}}

          %p
            %button.btn.btn-success{"data-toggle" => "modal", "data-target" => "#myModal", "ng-click" => "changeDirection('up');", "style" => "background-color: #cfe798"}
              看涨
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              %i.glyphicon.glyphicon-arrow-up
          %p
            %button.btn.btn-default#current_price_dom{"style" => "background-color: #a81915"}
              = fa_icon(:rbm)
              {{current_price.toString().split(".")[0]}}
              \.
              %span
                {{current_price.toString().split(".")[1]}}
          %p
            %button.btn.btn-danger{"data-toggle" => "modal", "data-target" => "#myModal", "ng-click" => "changeDirection('down');", "style" => "background-color: #f29697"}
              看跌
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              %i.glyphicon.glyphicon-arrow-down

        .clearfix
      .table_wrapper
        #bids_tab_bar_header
          .table_tab#bids_new_created_handle.tab_active
            本平仓合约
          .table_tab#bids_open_handle
            过期合约
        #bids_tab_content
          #bids_new_created
            = render :partial => "dashboard/bids/created_list", :locals => { :bids => current_user.bids.new_created }
          #bids_open
            = render :partial => "dashboard/bids/open_list", :locals => { :bids => current_user.bids.open }


    .modal.fade#myModal{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" =>  "modal"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only 关
            %h4.modal-title#myModalLabel
              = fa_icon("clock-o")
              {{format_opening(selected_opening)}} 
              -
              = fa_icon("btc")
              {{investment}}
          .modal-body
            %ul.list-group
              .list-group-item
                到期时间
                %span
                  {{format_opening(selected_opening)}}
              .list-group-item
                下注金额
                %span
                  {{investment}}
              .list-group-item
                剩余时间
                %span
                  {{remain_time}}
              .list-group-item
                当前价格
                %span
                  {{current_price}}


          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"} 取消交易
            %button.btn.btn-success#submit_bid_button{"ng-click" => "make_transaction()"} 确定交易
  .col-md-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  

:javascript
  $(document).ready(function(){ $("#investment").focus()});
  function reload_tab_content(status){
    $("#bids_new_created").load("/dashboard/bids.js?status=new_created", function(){
      current_price = $("#current_price_dom").data('price');
      $("#bids_new_created tr td.current_price_td").each(function(){ $(this).text(current_price) ;});
      $("#bids_new_created tr td.order_price_td").each(function(){
      if(current_price){
      if(parseFloat($(this).text()) > parseFloat(current_price)){
        $(this).append("<span style='color: red'><i class='fa fa-arrow-down'></i></span>");
      }else{
        $(this).append("<span style='color: green'><i class='fa fa-arrow-down fa-rotate-180'></i></span>");
      } }
      });
    });

    $("#bids_open").load("/dashboard/bids.js?status=open", function(){ });
  }

  $(document).ready(function(){
    reload_tab_content();
    setInterval(reload_tab_content, 2 * 1000);
  });

  $(document).ready(function(){
    $("#bids_open").hide();
    $("#bids_new_created_handle").click(function(){
      $("#bids_open_handle").removeClass("tab_active");
      $(this).addClass("tab_active");
      $("#bids_open").fadeOut('slow')
      $("#bids_new_created").fadeIn('slow')
    });

    $("#bids_open_handle").click(function(){
      $("#bids_new_created_handle").removeClass("tab_active");
      $(this).addClass("tab_active");
      $("#bids_new_created").fadeOut('slow')
      $("#bids_open").fadeIn('slow')
    });
  });
