.container-fluid
  .row-fluid
    %table.table.table-striped.table-condensed.table-hover.table-bordered
      %thead
        %th 时间
        %th 结算价
        %th 购时价
        %th 涨跌
        %th 投注
        %th 赔率

      %tbody
        - @bids.each do |bid|
          %tr
            %td= bid.created_at.to_s(:btc_cn_normal)
            %td= rmb_int_to_float(bid.open_price)
            %td= rmb_int_to_float(bid.order_price)
            %td= up_or_down(bid.trend)
            %td= btc_int_to_float(bid.amount)
            %td= odds_in_percentage

    = paginate @bids
