%fieldset
  = form_tag forget_password_path, :class => "form-horizontal", :role => "form", :id => "forget_password_form" do
    %fieldset
      .form-group
        %label{:for=>"email_field", :class => "col-md-2 control-label"} 邮箱
        .col-md-10
          = text_field_tag "user[email]", "", :class => "form-control", :id => "email_field"
          %span.help-block 输入能联系到您的Email地址

      .form-group
        %label{:for=>"capcha", :class => "col-md-2 control-label"} 验证码
        .col-md-6
          = text_field_tag "user[captcha]", "", :class => "form-control", :id => "captcha_field"
          %span.help-block 请输入图片中的四位字母和数字
        .col-md-4
          = captcha_tag :id => "captcha"

      .form-group
        .col-md-2
        .col-md-10
          = submit_tag "重置我的密码", :class => "btn btn-primary", :id => "submit_button"


