.container.user_actions
  - if flash[:notice]
    .row
      .alert.alert-warning{:role => "alert"}= flash[:notice]

  .row
    .col-md-4.col-sm-6.col-md-offset-4
      .panel.panel-default
        .panel-heading Sign In to Continue
        .panel-body
          = form_tag "" do
            %fieldset
              .row
                .col-sm-12.col-md-10.col-md-offset-1
                  .from-group
                    = text_field_tag "user[email]", "", :class => "form-control input-lg", :placeholder => "your-email@host.com"

                  .from-group
                    = submit_tag "Sign Up", :class => "btn btn-lg btn-primary btn-block"

          .panel-footer
            Don't have an account!
            = link_to "Sign In", "/login"

