.container-fluid
  .row-fluid
    %h4
      输入提现地址#{current_user.withdraw_address} 拷贝
    :javascript
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button"))
      });
  .row-fluid
    %table.table.table-stripped.table-condensed
      %thead
        %th 时间
        %th 数量
        %th TXID

      %tbody
        - @withdraws.each do |withdraw|
          %tr
            %td= withdraw.created_at.to_s(:btc_short)
            %td= int_to_float(withdraw.amount)
            %td= bid.txid

    = paginate @withdraws


