.container-fluid
  .row-fluid
    %h4
      输入提现地址
      = form_tag update_withdraw_address_dashboard_users_path, :class => "form-inline", :role => "form" do
        = text_field_tag :withdraw_address, current_user.withdraw_address, :class => "form-control"
        = submit_tag "修改", :class => "btn btn-primary"

  .row-fluid
    %table.table.table-stripped.table-condensed
      %thead
        %th 时间
        %th 数量
        %th TXID

      %tbody
        - @withdraws.each do |withdraw|
          %tr
            %td= withdraw.created_at.to_s(:btc_short)
            %td= int_to_float(withdraw.amount)
            %td= bid.txid

    = paginate @withdraws


