.container-fluid
  .row-fluid
    %h4
      充值地址
      %label.label.label-warning #{current_user.recharge_address.btcaddress}
      %button.btn.btn-primary#d_clip_button{"data-clipboard-target" => "fe_text", "data-clipboard-text" => "#{current_user.recharge_address.btcaddress}", :title => ""}
        拷贝
        = fa_icon(:clipboard)
    :javascript
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button"))
      });
  .row-fluid
    %table.table.table-stripped.table-condensed
      %thead
        %th 时间
        %th 数量
        %th TXID
        %td 交易状态

      %tbody
        - @recharges.each do |recharge|
          %tr
            %td= recharge.created_at.to_s(:btc_short)
            %td= btc_int_to_float(recharge.amount)
            - if recharge.txid
              %td=link_to recharge.txid, "https://blockchain.info/tx/#{recharge.txid}", :target => "_blank"
            - else
              %td 请稍后...
            %td= recharge.status_in_word

    = paginate @recharges

