.container-fluid
  .row-fluid
    .btcall_form.col-md-10.col-md-offset-1.form
      .form_title
        %span 充值比特币
      .form_content
        .form-group
          .input-group
            .input-group-addon{:style => "background-color: #306b95; color: white;"} 充值地址
            = text_field_tag :placeholder, current_user.recharge_address.btcaddress, :id => "d_clip_button", :class => "form-control", "data-clipboard-target" => "fe_text", "data-clipboard-text" => "#{current_user.recharge_address.btcaddress}", :title => "",  :disabled => true, :style => "max-width: 500px"

        %p 友情提示：您的比特币汇入上述地址之后， 需要整个比特网络节点确认， 为了快速到账， 您可以向比特币网络支付少量手续费， 到账时间一般10分钟 - 60分钟之间， 最小值是: 0.0010

      :javascript
        $(document).ready(function() {
          var clip = new ZeroClipboard($("#d_clip_button"))
        });

  .row-fluid
    .col-md-10.col-md-offset-1.table_wrapper
      %table.table.table-striped.table-condensed.table-hover.table-bordered
        %thead
          %th 时间
          %th 数量
          %th TXID
          %td 交易状态

        %tbody
          - @recharges.each do |recharge|
            %tr
              %td= recharge.created_at.to_s(:btc_short)
              %td= btc_int_to_float(recharge.amount)
              - if recharge.txid
                %td=link_to recharge.txid, "https://blockchain.info/tx/#{recharge.txid}", :target => "_blank"
              - else
                %td 请稍后...
              %td= recharge.status_in_word

    = paginate @recharges

