.list-group
  .list-group-item
    = link_to raw(fa_icon(:at)) + "BTC涨跌交易", dashboard_path
  .list-group-item
    = link_to "结算记录", dashboard_path
  .list-group-item
    = link_to "历史订单", dashboard_bids_path
  .list-group-item.sidebar_item_active
    = link_to "充值", dashboard_recharges_path
  .list-group-item
    = link_to "提现", dashboard_path
  .list-group-item
    = link_to "市商", dashboard_path
  .list-group-item
    = link_to "推荐人系统", dashboard_path



