.list-group
  .list-group-item.chart
    = link_to raw(fa_icon(:at)) + "BTC涨跌交易", dashboard_path
  .list-group-item.bids
    = link_to "历史订单", dashboard_bids_path
  .list-group-item.recharges
    = link_to "充值", dashboard_recharges_path
  .list-group-item.withdraws
    = link_to "提现", dashboard_withdraws_path
  .list-group-item.makers
    = link_to "市商", dashboard_makers_path
  .list-group-item
    = link_to "推荐人系统", dashboard_path
  .list-group-item.setting
    = link_to "个人设置", dashboard_settings_path


:javascript
  $(".#{@active_nav_item}").addClass("sidebar_item_active")
